.custom-search-bar .euiFormControlLayoutCustomIcon {
  display: none;
}

.euiFormControlLayoutCustomIcon {
  display: none !important;
}

.euiFormControlLayout {
  display: flex; 
  align-items: center; 
  padding-right: 16px; 
}

.euiFormControlLayoutClearButton {
  margin-left: 8px; 
  position: absolute;
  right: 0; 
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.euiHeaderSectionItem {
  margin-right: 32px; 
}
