/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40px;
    width: 40px;
    display: flex;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.logo-container {
  padding: 32px;
}

.euiCard__content {
  display: flex;
  max-height: min-content;
  align-items: center;
  max-height: 50px;
}

/* hover effect for the card */
.custom-flex-item:hover .euiCard {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.euiCard {
  transition: transform 0.3s ease;
}

.custom-flex-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
  max-width: 1400px;
  margin: 0 auto;
}

/* body {
  background-color: black
} */

.custom-flex-item h2 {
  transition: font-size 0.3s ease;
  font-size: 16px;
  /*  preferred default size */
}

.card-content div {
  transition: font-size 0.3s ease;
  font-size: 30px;
  /*  preferred default size */
}

.custom-flex-item:hover h2 {
  font-size: 30px;
  /*hovered size */
}

.custom-flex-item:hover .card-content div {
  font-size: 50px;
  /* hovered size */
}

input,
textarea {
  border-radius: 3px;
  border: lightgray solid 1px;
  font-size: 1rem;
}
