.banner,
.description-banner,
.base-banner {
  height: 500px;
  position: relative;
}

.banner {
  background-image: url("https://cdn.pixabay.com/photo/2018/08/16/11/36/men-3610255_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.quote {
  font-size: 50px;
  color: rgb(249, 246, 246);
  text-align: center;
  max-width: 70%;
  margin-bottom: 50px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.6);
}

.arrow {
  position: absolute;
  bottom: 30px;
  font-weight: bold;
  color: rgb(240, 232, 232);
  transform: translateY(10px);
  animation: bounce 1.5s infinite;
}

.base-banner {
  background-color: #3a8fd7;
  font-family: "Jokerman";
  font-size: 50px;
  color: rgb(16, 15, 15);
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards-banner {
  /* background-color: #f5f5f5; */
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(217, 216, 216, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.description-banner {
  background-color: rgb(1, 28, 58);
  color: black;
  font-size: 30px;
  margin: 20px 0;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* hover effect for the card */
.custom-flex-item:hover .euiCard {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.euiCard-profile {
  transition: transform 0.3s ease;
  background: linear-gradient(#3b3c42a5, #3a8fd7);
}

.euiCard-content {
  padding: none;
}

.custom-flex-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  max-width: 1400px;
  margin: 0 auto;
}

.custom-flex-item h2 {
  transition: font-size 0.3s ease;
  font-size: 3rem;
  margin-top: 0;
  /*  preferred default size */
}

.card-content div {
  transition: font-size 0.3s ease;
  font-size: 1rem;
  /*  preferred default size */
}

.custom-flex-item:hover .card-content div {
  font-size: 1.5rem;
  /* hovered size */
}

.circle-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #070707;
  border-radius: 50%;
  width: 575px;
  height: 575px;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: ellipse(50% 50% at 50% 50%);
}

.circle-text {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 0.5;
  z-index: 2;
}

.circle-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://images.hdqwalls.com/download/blue-sky-with-stars-5k-51-2560x1700.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.cardio-banner {
  background-image: url("https://e0.pxfuel.com/wallpapers/134/920/desktop-wallpaper-running-background-running-fitness.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 500px;
}

.cardio-quote {
  font-size: 50px;
  color: rgb(243, 241, 241);
  text-align: center;
  max-width: 70%;
  margin-bottom: 50px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.6);
}

.strength-banner {
  background-image: url("https://www.glofox.com/wp-content/uploads/2021/03/barrys2-1024x502.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 500px;
}

.strength-quote {
  font-size: 50px;
  color: white;
  text-align: center;
  max-width: 80%;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 8px;
}
